
body{
	font-family: 'Dosis', sans-serif;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	background-color: #0076bf;
}

header{
	background-color: #0076bf;
	height: 92px;
}
content{
	width:100%;
}

header img{
	padding-top: 28px;
	text-align: center;
}

#back_clima{
	background-image: url('../img/back_nice_day.png');
	margin-top: -1px;
	padding-top: 20px;
}

#back_mapa{
	height: 478px;
	background-image: url('../img/back_vista_mapa.jpg');
	margin-top: -1px;
	padding-top: 30px;
}

#container_alerta{
	height: 40px;
}

.alert-on{
	background-color: #dd5249;
	display: inherit;
}

.alert-off{
	visibility: hidden;
	  display: none;
}

.alert-off .alerta-display{
	display: none;
}



.alert-on p{
	margin: 0px;
}

.alert-on img{
	margin-top: -10px;
	z-index: 10;
	position: absolute;
	left: 50px;	
}

.plus{
	font-size: 30px;
}

#container_clima{
	margin-bottom: 10px;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
	margin-top: -2px;
}

.padding-t-20{
	padding-top: 20px;
}

.padding-t-30{
	padding-top: 30px;
}

.padding-t-15{
	padding-top: 15px;
}

.padding-tb-dias{
	padding-top: 18.5px;
	padding-bottom: 18.5px;
}

.margin-t-15{
	margin-top: 15px;
}

.grados_dia{
	font-size: 100px;
}

.min_max_dia{
	font-size: 25px;
}

.min_max_dia img{
	margin-top: -5px;
}

.dias-sem{
	height: 65px;
	background-color: rgba(0,0,0,0.7);
}

.btn-ver-mas{
	background-color: #0076bf;
	margin-top: 15px;
	border: none;
}

.container{
	width: 100%;
}

.dias-margin-left{
	margin-left: 12.5%;
}

.dias-margin-right{
	margin-right: 12.5%;
}

.dia-selected{
	background-color: #FFF;
	color: #388ccb;
}

.space-light-blue{
	background-color: #528ca0;
	height: 30px;
}

.footer-options{
	background-color: #ccd9df;
	height: 190px;
	padding-bottom: 15px;
}

.mapa{
	height: 150px;
	border: 2px solid #FFF;
	background-color: #518ca0;
	margin-top: 20px;
	padding-bottom: 20px;
}

.back-ver-mapa{
	padding-top: 6px;
}

.back-icons{
	margin-top: 25px;
	background-color: #a3bfca;
	padding-top: 16px;
	padding-bottom: 16px;
}

.border-r{
	border-right: 1px solid #FFF;
}

.back-icons img{
	padding-bottom: 3px;
}

.dia_titulo{
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(0,0,0,0.2);
	font-size: 25px;
	margin-bottom: 10px;
}

.container_de_dias{
	background-color: rgba(0,0,0,0.2);
	margin-bottom: 20px;
	margin-top: 20px;
	margin-right: 10px;
	margin-left: 10px;
	height: 380px;
}

.min_max_ver_mas{
	margin-left: 30px;
	margin-right: 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid #FFF;
}

.no-margin-p p{
	margin: 0px;
}

.grados-de-dias{
	font-size: 100px;
	line-height: 130px;
}

#icono_dia_actual{
	padding-top: 35px;
}

.mapa-cercania{
	text-align: right;
}

.mapa-cercania p{
	text-align: left;
}

.border-b{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.mapa-cercania .grados-de-dias{
	line-height: 95px;
}

h2{
	margin-bottom: 0px;
}

.text-left{
	text-align: left;
}

.cercania-p p{
	font-size: 18px;
}

.img-cercania img{
	padding-top: 20px;
	max-width: 25px;
}

#mapa_container{
	margin: 30px;
	min-height: 400px;
	border: 2px solid #FFF;
	overflow: hidden;
}

.load-state{
	width: 100%;
	height: 100%;
	min-height: 600px;
	padding-top: 20%;
}

.load-state img{
	padding-bottom: 20px;
}

header{
	display: none;
}

footer{
	display: none;
}

#clima_icon{
	min-width: 80px;
	min-height: 80px;
	margin-bottom: -20px;
}

#tipo_dia_seleccionado{
	text-transform: uppercase;
}

#dia_seleccionado{
	font-size: 25px;
	margin-bottom: -10px;
}

#dia_anterior{
	display: none;
}